.header{
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  z-index: 4;
  &__menu{
    position: absolute;
    left: 15px;
    top: 28px;
  }
  &__logo{
    margin: 0 auto;
    padding-top: 10px;
  }
  &__phone{
    position: absolute;
    top: 21px;
    right: 15px;
  }
}
.header__popup{
  font-family: SF Pro Display;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #F6FCFC;
  &_menu{
    position: absolute;
    left: 15px;
    top: 28px;
  }
  &_logo {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  &_phone{
    position: absolute;
    top: 21px;
    right: 15px;
  }
  &_links{
    font-size: 30px;
    line-height: 125%;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
    a{
      text-decoration: none;
    }
    &-link{
      color: #000000;
      margin-top: 35px;
    }
  }
}
.header__overlay{
  background:#000;
  opacity:0.5;
  position:fixed;
  z-index: 25;
  top:0;
  right:0;
  left:0;
  bottom:0;
}
.header__popup2{
  font-family: SF Pro Display;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #FFFFFF;
  z-index: 32;
  &_menu{
    position: absolute;
    left: 15px;
    top: 28px;
  }
  &_title{
    margin-top: 80px;
    margin-left: 15px;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 700;
  }
  &_subtitle{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 150%;
    color: #76767A;
  }
  &_form{
    margin-top: 60px;
    text-align: center;

    &-name {
      margin-top: 30px;
    }

    &-phone {
      margin-top: 21px;
    }
    input {
      padding-left: 10px;
      width: 345px;
      height: 44px;
      border: 1px solid #76767A;
      border-radius: 4px;
    }
    &-button {
      margin-top: 40px;
      width: 345px;
      height: 48px;
      background: #15A94E;
      border-radius: 3px;
      color: #ffffff;
      box-shadow: none;
      border: none;
    }
  }
}
.header__links{
  font-weight: 600;
  display: none;
  margin-top: 15px;
  margin-left: 60px;
  font-size: 16px;
  line-height: 150%;
  ul{
    display: flex;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  li + li{
    margin-left: 40px;
  }
  li{
    list-style: none;
    padding: 0;
  }
}
.header__cellphone{
  margin-top: 25px;
  margin-left: 60px;
  display: none;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  width: 175px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 3px;
  background: #FFF;
  &:active{
    box-shadow: 0 0 5px  black;
  }
}
.header__phonenumber{
  margin-top: 15px;
  display: none;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  font-weight: 700;
  width: 100%;
}
