.how{
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  background-image: url("../img/how__bg-s.svg");
  background-position: center;
  background-repeat: no-repeat;
  &__title{
    font-family: SF Pro Display;
    font-size: 30px;
    line-height: 125%;
    color: #000000;
    font-weight: 700;
    padding: 16px;
    margin-top: 68px;
  }
  &__steps{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    &_item{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      font-family: SF Pro Display;
      font-weight: 500;
      &-img{
        align-self: center;
        width: 80px;
        height: 80px;
        background: #F4FBFB;
        border-radius: 8px;
        img{
          padding: 12px;
        }
      }
      &-title{
        margin-top: 10px;
        font-size: 18px;
        line-height: 150%;
        font-weight: 600;
      }
      &-subtitle{
        font-size: 16px;
        line-height: 150%;
        margin-top: 5px;
        padding: 0 20px;
      }
    }
  }
  &__button{
    margin-top: 40px;
    button{
      font-family: SF Pro Display;
      width: 200px;
      height: 47px;
      background: #15A94E;
      border-radius: 3px;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      border: 1px solid #15A94E;
      &:active{
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
